@charset "utf-8";
/*css comentario para colores

wrapper: EEE6E3
principal:FF659B
segundo:EDC5ED
tercero:AB71A6

*/
*{
	margin:0;
}
body{
	width:80%;
}
h1,h2{
	text-align:center;
	font-family:"Comic Sans MS", cursive;
	font-size:2.5em;
	letter-spacing:5px;
}
a{
	text-decoration:none;
}
a:link{
	color:#3F3;
}
a:visited{
	color:#0FF;
}
a:hover{
	color:#FFF;
	text-decoration:underline;
}
a:active{
	color:#F00;
	background-color:#FF3;
}

#wrapper{
	border:2px solid #900;
	}
#principal{
	background-color:AB35AB;
		border:2px solid #FF659B;
		color:#0F3;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		}
#segundo{
	background-color:ABB0AB;
	border:2px solid#FF659B;
	font-family:"Courier New", Courier, monospace;
	color:#000;
	}
#tercero{
	background-color:7DC7C6;
	border: 2px solid #AB71A6;
	color:#00F;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#tercero a{
	color:#FFF;
	text-decoration:underline;
}
ul li{
	list-style:georgian;
}
.resaltar{	
background-color:#3C9;
color:#C06;
font-style:oblique;
}
	
	

